.container {
    display: flex;  /*sets form and image next to each other*/  
    /*border-radius: 2%;

    padding: 5%;*/
}
.scanner_args_form {
    padding: 10px;
    margin: 10px;
}
body {
    background: #1e1e1e;
    color: #cdcdcd;
}